*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFDE59;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar{
    /* border: 3px solid red; */
    background-color: #A6A6A6;
    padding: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    box-shadow: 0 0 10px #FFDE59;
}

#titleSite, #links{
    /* border: 2px solid green; */
    height: calc(100% / 2);
    margin-bottom: 40px;
}

#titleSite h1{
    color: #4e4e4e;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleSite h1 span{
    color: white;
}
#links{
    margin-top: 2rem;
    /* border: 1px solid red; */
}
#links a{
    padding: 10px;
    border-radius: 11px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 1s;
    font-size: 17px;
}

#links a:hover{
    background-color: #FFDE59;
    color: #545454;
    padding: 15px;
    font-size: 14px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

#areaConteudo{
    display: flex;
}

.card{
    background-color: whitesmoke;
    box-shadow: 15px 15px 15px;
    border: 1px solid rgb(207, 207, 207);
    width: 500px;
    margin: auto auto;
    padding: 15px;
    border-radius: 10px;
    margin: 30px 15px;
    /* display: none !important; */
}

/* title card */
.card-title h2{
    color: #110e03;
}

.card-title span{
   display: block;    
   /* padding-left: 5px; */
   font-weight: 600;
   color: #505050;
}

.card-body, .cardImg > img{
    max-width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

.cardLink a{
    color: #F6CD46;
    margin-top: 5px;
    display: block;
    width: 15%;
}

/* media ate 800px - mobile */
@media(max-width: 1400px){
    .cardLink a{
        width: 35%;
    }
    

    #titleSite, #links{
        /* border: 2px solid green; */
        height: auto;
        margin-bottom: 0;
    }

    #titleSite{
        margin-bottom: -40px !important;
    }

    #areaConteudo{
        flex-wrap: wrap;
    }
    
    main{
        flex-direction: column;
    }

    .card{
        width: auto;
    }

    #links{
        margin-top: 2rem;
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #links a{
        padding: 5px;
        display: block;
        border-radius: 11px;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: 1s;
        margin: 10px 15px;
    }
    
    #links a:hover{
        background-color: white;
        color: #4e4e4e;
        padding: 8px;
    }

    .logo{
        width: 35% !important;
        display: block;
    }

    h1{
        font-size: 44px !important;
    }
}

.logo{
    width: 20%;
    display: block;
}

.visible{
    display: block;
}